.my-footer {
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fff6ef;
  border-radius: 20px 20px 0px 0px;
  margin-top: auto;
  flex-grow: 0;
  flex-shrink: 0;
  bottom: 0;
  font-family: "Roboto", sans-serif;
}

.developer-name {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
