@import url("https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100;200;300;400;500;600;700;800&display=swap");

.quiz-container {
  font-family: "Anek Malayalam", sans-serif;
  height: 220vh;
  width: 100vw;
  color: #11052c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question-container {
  background: #ffffff;
  border-radius: 4px;
  padding: 30px 60px;
  display: flex;
  /* align-items: center; */
  flex-grow: 2;
  margin: 10%;
  justify-content: flex-start;
  overflow: auto;
  padding: 5%;
}

.quiz-container .active-question-no {
  font-size: 32px;
  font-weight: 500;
  color: #800080;
}

.quiz-container h2 {
  font-size: 150%;
  font-weight: 500;
  margin: 0;
}

.quiz-container ul {
  margin-top: 20px;
  margin-left: -40px;
}

.quiz-container ul li {
  text-decoration: none;
  list-style: none;
  color: #2d264b;
  font-size: 150%;
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 16px;
  padding: 11px;
  margin-top: 15px;
  cursor: pointer;
}

.quiz-container ul li:hover {
  background: #ffd6ff;
  border: 1px solid #800080;
}

.quiz-container button {
  background: linear-gradient(90.04deg, #800080 0.03%, #ffc0cb 99.96%);
  border-radius: 9px;
  font-size: 18px;
  color: #ffffff;
  padding: 10px 42px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 15px;
  margin-right: 15px;
}

.result p {
  font-size: 150%;
  font-weight: 500;
}

.wrapper {
  display: flex;
  background-color: #d8d9da;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
